<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title><h6>Calculo Nota 64 Horas</h6></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
      <ion-grid>
        <ion-button color="success"(click)="asig64epe1()"> EPE 1 </ion-button>
       <ion-label  text-center text-wrap>{{this.varEntrada64epe1}}</ion-label>
          </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-button color="success"(click)="asig64epe2()"> EPE 2 </ion-button>
       <ion-label  text-center text-wrap>{{this.varEntrada64epe2}}</ion-label>
          </ion-grid>
    </ion-item>
    <ion-item>
        <ion-grid>
            <ion-button color="success"(click)="asig64epe3()"> EPE 3 </ion-button>
            <ion-label  text-center text-wrap>{{this.varEntrada64epe3}}</ion-label>
        </ion-grid>
      </ion-item>
      <ion-item>
          <ion-grid>
              <ion-button color="success"(click)="asig64eva1()"> EVA 1 </ion-button>
              <ion-label  text-center text-wrap>{{this.varEntrada64eva1}}</ion-label>
          </ion-grid>
        </ion-item>
        <ion-item>
            <ion-grid>
                <ion-button color="success"(click)="asig64eva2()"> EVA 2 </ion-button>
                <ion-label  text-center text-wrap>{{this.varEntrada64eva2}}</ion-label>
            </ion-grid>
          </ion-item>
          <ion-item>
            <ion-grid>
                <ion-button color="success"(click)="asig64eva3()"> EVA 3 </ion-button>
                <ion-label  text-center text-wrap>{{this.varEntrada64eva3}}</ion-label>
            </ion-grid>
          </ion-item>
          <ion-item>
              <ion-grid>
                  <ion-button color="success"(click)="notaPrensentExam64()"> Nota Presentacion </ion-button>
                  <ion-label  text-center >Nota Presentacion</ion-label>
                <ion-label  text-center text-wrap>{{this.var64NotaPresentTemp}}</ion-label>
              </ion-grid>
            </ion-item>
          <ion-item>
              <ion-grid>
                  <ion-button color="success"(click)="notaMinima64Exam()()"> Nota Minima </ion-button>
                  <ion-label  text-center >Nota Minima Examen</ion-label>
                <ion-label  text-center text-wrap>{{this.notaMinima64Examtemp}}</ion-label>
              </ion-grid>
            </ion-item>
            <ion-item>
              <ion-grid>
                  <ion-button color="success"(click)="asig64exam()"> Nota Examen </ion-button>
                  <ion-label  text-center text-wrap>{{this.var64NotaExam}}</ion-label>
              </ion-grid>
            </ion-item>
            <ion-item>
        <ion-row>
          <ion-col>
        <ion-button color="warning"(click)="selector()">   Volver   </ion-button>
      </ion-col>
      <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
      <ion-col>
          <ion-button color="warning"(click)="traspasarDato()">   Calcular   </ion-button>
      </ion-col>
        </ion-row>
        </ion-item>
</ion-content>