<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>selector</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-grid>
        <ion-button size="large" expand="block" fill="outline" color="success"(click)="asig32()">   32   </ion-button>
        <ion-label text-center>Asignatura 32 Horas</ion-label>
      </ion-grid>
    </ion-item>
    <ion-item>
        <ion-grid>
      <ion-button size="large" expand="block" fill="outline" color="success"(click)="asig64()">   64   </ion-button>
        <ion-label text-center>Asignatura 64 Horas</ion-label>
      </ion-grid>
    </ion-item>
    <ion-item>
        <ion-grid>
        <ion-button size="large" expand="block" fill="outline" color="success"(click)="asig96()">   96   </ion-button>
          <ion-label text-center>Asignatura 96 Horas</ion-label>
        </ion-grid>
      </ion-item>
      <ion-item>
          <ion-grid>
          <ion-button size="large" expand="block" fill="outline" color="success"(click)="asig128()">  128  </ion-button>
            <ion-label text-center>Asignatura 128 Horas</ion-label>
          </ion-grid>
        </ion-item>
        <ion-grid>
          
        </ion-grid>
        <ion-row>
        <ion-button color="warning"(click)="home()">   Volver   </ion-button>
        
      </ion-row>
</ion-content>
